*{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

body {
    background:#333;
}

#canvas {
    width:800px;
    height:600px;
    margin:0 auto;
    display:block;
}

#pauseOnDrawing-element{
    color: #fff;
    right: 100px;
    top: 100px;
    position: absolute;
}

#pauseGame-element{
    color: #fff;
    right: 100px;
    top: 130px;
    position: absolute;
}

#outflow-element{
    color: #fff;
    right: 100px;
    top: 160px;
    position: absolute;
}

#inflow-element{
    color: #fff;
    right: 100px;
    top: 190px;
    position: absolute;
}

#water-button{
    right: 100px;
    top: 220px;
    position: absolute;

    outline: none;
    /*border: none;*/
}
#fire-button{
    right: 100px;
    top: 250px;
    position: absolute;

    outline: none;
}

#water-button.active{
    background-color: rgba(128, 186, 247, 0.7);
}
#fire-button.active{
    background-color: rgba(247, 44, 44, 0.7);
}
