@import 'variables';

@mixin element-button($color){
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: $background-button-color;

  padding: 5px 5px 1px 5px;
  border-bottom: 5px solid $color;
  border-radius: 5px;

  &.active{
    background-color: $color;
  }
}