

/*-----------------------------------
------------GENERIC COLORS-----------
------------------------------------*/

$background-button-color: #f2f2f2;




/*-----------------------------------
-----------ELEMENTS COLORS-----------
------------------------------------*/

$water-color: rgba(128, 186, 247, 1);
$fire-color: rgba(247, 44, 44, 1);
$wall-color: rgba(229, 129, 96, 1);
$delete-color: rgba(119, 119, 119, 1);